@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(40, 38, 38);
}
.fontCard{
    border: 1px solid rgb(164, 164, 164);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 300px;
    border-radius: 20px;
}
.headerFontCard{
    display: flex;
    justify-content: space-between;
}
.headerFontCard .infoFontCard{
    display: flex;
    flex-direction: column;
}
.headerFontCard .infoFontCard h2{
    color: #E8EAED;
    font-size: 20px;
}
.headerFontCard .infoFontCard h3{
    color: #9AA0A6;
    font-size:18px;
}
.headerFontCard span{
    color: #9AA0A6;
    font-size: 16px;
}

.fontCard .textFontCard{
    color: #E8EAED;
    font-size: 32px;
    font-weight: 800;
    margin-top: 30px;
}