@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --color-primario: #673de6;
    --color-secundario: #2F166A;
}


/* @keyframes aparecer {
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
 */

 @keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.historyCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #d5dfff;
    width: 360px;
    border-radius: 10px;
}

.historyCard .historyContent{
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
}

.historyContent .ratingContainer{
    display: flex;
    font-size: 24px;
    gap: 10px;
    color: var(--color-primario);
}

.historyContent p{
    font-size: 14px ;
    padding-top: 18px;
    line-height: 25px;
    color: var(--color-secundario);
}

.historyContent a{
    padding-top: 20px;
    color: var(--color-primario);
    font-weight: 700;
    font-size: 16px;
}

.historyAuthor{
    display: flex;
    align-items: center;
    padding: 24px 32px;
    gap: 10px;
    border-top: 1px solid  #d5dfff ;
    background-color: #f4f5ff;
}

.historyAuthor img{
    width: 64px;
    height: 64px;
}

.historyAuthor div h2{
    font-size: 18px;
    color: var(--color-secundario);
    font-weight: 700;
}

.historyAuthor div span{
    color: var(--color-secundario);
    font-size: 14px;
}


.title{
    font-size: 36px;
    color: #2F166A;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 40px 0;
    animation: aparecer;
    animation-duration: 400ms;
    
}

.historiesContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.historiesSection{
    margin: 0 20px;
}

/* --------------------------------------------------- HEADER ----------------------------------------------------------------------------------- */


header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header .navbar{
    display: flex;
    gap: 2px;
    align-items: center;
}
header .navbar a{
    padding: 12px;
    font-size: 16px;
}

header .logoContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logoContainer h2{

}

header .logoContainer div{
    color: var(--color-secundario);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .logoContainer div img{
    width: 32px;
}

.navbar .btn-login{
    padding: 12px 16px;
    background-color: white;
    border: 2px solid #1D1E20;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.navbar .btn-login:hover{
    background-color: black;
    color: white;
    transition: 300ms ease-out;
    cursor: pointer;
}

.btn-menu{
    display: none;
}

/* SI EL ANCHO ES MENOR A 1020 pixeles ENTONCES ACTIVARE ESTE CODIGO CSS */

@media screen and (max-width: 1050px) {
    header .navbar{
        display: none;
    }
    .btn-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1020px){
    .historiesContainer{
        flex-direction: column;
        align-items: center;
    }
    .historyCard{
        width: 686px;
    }
    .historyContent .ratingContainer{
        font-size: 20px;
    }
}

@media screen and (max-width: 775px){
    .historyCard{
        width: 100%;
    }
    .title{
        font-size: 24px;
    }
}